body {
  color: #475361;
}
h1,
h2 {
  margin: 10px 0;
}
h1 {
  font-size: 24px;
}
h2 {
  display: inline-block;
  font-size: 22px;
  border-bottom: 1px solid #475361;
  padding-bottom: 5px;
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  min-width: 100%;
  color: white;
  background-color: #475361;
  padding: 0;
  z-index: 1000;
}
.menu {
  flex-grow: 1;
  padding: 0;
}
.menu-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-top .main-logo {
  width: 40%;
  min-width: 100px;
}
.menu-top .main-logo img {
  display: block;
  width: 90%;
  max-width: 200px;
  margin: 10px auto;
}
.menu-top form {
  width: 60%;
  min-width: 150px;
}
.menu-top form .search {
  width: 90%;
  height: auto;
  max-height: 50px;
  margin: 10px 5%;
  font-size: 18px;
  color: #475361;
  border: 1px solid white;
}
.menu-top form .btn {
  width: 90%;
  margin: 10px 5%;
}
.menu-top .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 0;
  font-size: 18px;
  color: white;
  max-height: 50px;
  padding: 6px;
}
.menu-top .btn:hover {
  color: white;
}
.menu-top .menu-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 20px;
}
.menu-top .menu-buttons .wrapper {
  display: flex;
}
.menu-top .menu-buttons .wrapper-1 {
  width: 40%;
  justify-content: center;
}
.menu-top .menu-buttons .wrapper-2 {
  width: 60%;
  justify-content: flex-start;
}
.menu-top .menu-buttons .btn {
  min-width: 50px;
  margin-left: 5%;
}
.menu-top .menu-buttons .btn:hover {
  color: white;
}
.menu-top .menu-buttons .btn img {
  width: 100%;
}
.menu-top .menu-buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 18px;
  color: #DE4C2C;
  margin-right: auto;
  min-width: 50px;
  max-height: 50px;
}
#nav-mobile {
  background-color: #DE4C2C;
  margin: 0;
  border-radius: 0;
}
#nav-desktop {
  display: none;
}
.nav-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-items .nav-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0;
}
.nav-items .nav-item a {
  text-decoration: none;
  color: white;
}
.order-section {
  border-bottom: 1px solid #DE4C2C;
  padding-bottom: 5px;
}
label {
  margin: 0;
}
#alt-check {
  display: none;
}
.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid #475361;
  vertical-align: middle;
}
.check + h2 {
  vertical-align: middle;
}
#alt-check:checked + label .check {
  border: 6px solid #475361;
}
input[type=text],
input[type=email] {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #DE4D2E;
}
.required-symbol {
  color: #DE4C2C;
}
.order {
  margin: 10px 0;
  padding: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #475361;
  font-size: 18px;
  font-weight: bold;
}
.item .details {
  width: 70%;
  padding: 10px 0;
}
.item .price {
  width: 20%;
  text-align: center;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .main-logo-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: 150px;
    height: auto;
    margin: 20px 0 10px;
  }
  .main-logo-desktop img {
    width: 90%;
  }
  .menu {
    margin-top: 20px;
  }
  .menu-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .menu-top form {
    width: 20%;
    min-width: 150px;
    margin-left: auto;
  }
  .menu-top form .search {
    width: 90%;
    height: 100%;
    max-height: 50px;
    margin: 0 5%;
    font-size: 18px;
    color: #475361;
    border: 1px solid white;
  }
  .menu-top .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 0;
    font-size: 18px;
    color: white;
    max-height: 50px;
    padding: 6px;
  }
  .menu-top .btn:hover {
    color: white;
  }
  .menu-top .menu-buttons {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    min-width: 330px;
    margin: 0;
  }
  .menu-top .menu-buttons .wrapper {
    display: flex;
  }
  .menu-top .menu-buttons .wrapper-1 {
    width: auto;
    justify-content: flex-start;
  }
  .menu-top .menu-buttons .hamburger {
    display: none;
  }
  .menu-top .menu-buttons .wrapper-2 {
    width: auto;
    justify-content: flex-start;
  }
  .menu-top .menu-buttons .btn {
    min-width: 50px;
    margin-left: 10px;
  }
  .menu-top .menu-buttons .btn:hover {
    color: white;
  }
  .menu-top .menu-buttons .btn img {
    width: 100%;
  }
  .menu-top .menu-buttons span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    color: #DE4C2C;
    margin-right: auto;
    min-width: 50px;
    max-height: 50px;
  }
  #nav-mobile {
    display: none;
  }
  #nav-desktop {
    display: flex;
    justify-content: flex-start;
    background-color: #DE4C2C;
    margin: 0;
    transform: translateY(50%);
    border-radius: 0;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .nav-items .nav-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 10px;
  }
  .nav-items .nav-item a {
    text-decoration: none;
    color: white;
  }
  .form-cart {
    margin-top: 50px;
  }
  .name-lastname {
    display: flex;
    justify-content: space-between;
  }
  .name-lastname div {
    width: 45%;
  }
  label {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }
  #alt-check {
    display: none;
  }
  .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border: 1px solid #475361;
    vertical-align: middle;
  }
  .check + h2 {
    vertical-align: middle;
  }
  #alt-check:checked + label .check {
    border: 6px solid #475361;
  }
  input[type=text] {
    width: 100%;
    margin: 5px 0;
  }
  .required-symbol {
    color: #DE4C2C;
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
  .item .details {
    width: 70%;
  }
  .item .price {
    width: 20%;
    text-align: center;
  }
}
.hidden {
  display: none;
}
.visible {
  display: auto;
}
