// * {
//   outline: 1px solid red;
// }

body {
  color: #475361;
}

h1,
h2 {
  margin: 10px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  display: inline-block;
  font-size: 22px;
}

.header {
  display: flex;
  min-width: 100%;
  color: white;
  background-color: #475361;
  padding: 0;
}

.menu {
  flex-grow: 1;
  padding: 0;
}

.menu-top {
  display: flex;
  flex-wrap: wrap; //this
  justify-content: space-between;

  .main-logo {
    width: 40%;
    min-width: 100px;

    img {
      display: block;
      width: 90%;
      max-width: 200px;
      margin: 10px auto;
    }
  }

  form {
    width: 60%;
    min-width: 150px;

    .search {
      width: 90%;
      height: auto;
      max-height: 50px;
      margin: 10px 5%;
      font-size: 18px;
      color: #475361;
      border: 1px solid white;
    }

    .btn {
      width: 90%;
      margin: 10px 5%;
    }
  }

  .btn {
    // this
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 0;
    font-size: 18px;
    color: white;
    max-height: 50px;
    padding: 6px;

    &:hover {
      color: white;
    }
  }

  .menu-buttons {
    display: flex;
    justify-content: center; //this
    width: 100%;
    margin: 10px 0 20px;

    .wrapper {
      display: flex;
    }

    .wrapper-1 {
      width: 40%;
      justify-content: center;
    }

    .wrapper-2 {
      width: 60%;
      justify-content: flex-start;
    }

    .btn {
      // this
      min-width: 50px;
      margin-left: 5%; // this

      &:hover {
        color: white;
      }

      img {
        width: 100%; //this
      }
    }

    span {
      //this
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      font-size: 18px;
      color: #DE4C2C;
      margin-right: auto;
      min-width: 50px;
      max-height: 50px;
    }
  }
}

.navbar {
  background-color: #DE4C2C;
  margin: 0;
  border-radius: 0;
}

.nav-items {
  display: flex;
  flex-direction: column; //this
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

  .nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

label {
  margin: 0;
}

#alt-check {
  display: none;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid #475361;
  vertical-align: middle;
}

.check + h2 {
  vertical-align: middle;
}

#alt-check:checked + label .check {
  border: 6px solid #475361;
}

input[type=text] {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #DE4D2E;
}

.required-symbol {
  color: #DE4C2C;
}

.order {
  margin: 10px 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;

  .details {
    width: 70%;
    padding: 10px 0;
  }

  .price {
    width: 20%;
    text-align: center;
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    color: #475361;
  }

  .header {
    display: flex;
    min-width: 100%;
    color: white;
    background-color: #475361;
    padding: 0;
  }

  .main-logo-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-width: 200px;
    height: auto;

    img {
      width: 80%;
      padding: 15px;
    }
  }

  .menu {
    flex-grow: 1;
    padding: 0;
    margin-top: 20px;
  }

  .menu-top {
    display: flex;
    justify-content: space-between;

    form {
      width: 300px;
      min-width: 150px;

      .search {
        width: 100%;
        height: 100%;
        max-height: 50px;
        margin: 0;
        font-size: 18px;
        color: #475361;
      }
    }

    .menu-buttons {
      display: flex;
      margin-right: 3%;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 0;
        font-size: 18px;
        color: white;
        max-height: 50px;
        min-width: 50px;
        margin-left: 10px;
        padding: 6px;

        &:hover {
          color: white;
        }

        img {
          height: 100%;
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        background-color: white;
        font-size: 18px;
        color: #DE4C2C;
        min-width: 50px;
        max-height: 50px;
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #DE4C2C;
    margin: 0;
    transform: translateY(50%);
    border-radius: 0;
  }

  .nav-items {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    .nav-item {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 10px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .form-cart {
    margin-top: 50px;
  }

  .name-lastname {
    display: flex;
    justify-content: space-between;

    div {
      width: 45%;
    }
  }

  label {
    margin: 0;
  }

  #alt-check {
    display: none;
  }

  .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border: 1px solid #475361;
    vertical-align: middle;
  }

  .check + h2 {
    vertical-align: middle;
  }

  #alt-check:checked + label .check {
    border: 6px solid #475361;
  }

  input[type=text] {
    width: 100%;
    margin: 5px 0;
  }

  .required-symbol {
    color: #DE4C2C;
  }

  .item {
    display: flex;
    justify-content: space-between;

    .details {
      width: 70%;
    }

    .price {
      width: 20%;
      text-align: center;
    }
  }

  h1,
  h2 {
    margin: 10px 0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    display: inline-block;
    font-size: 22px;
  }
}
